@model OnlineShop.Shared.DTOs.ProductDto

@{
    ViewData["Title"] = "Dodaj nowy produkt";
}

<h1>@ViewData["Title"]</h1>

<h4>Produkt</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Name">Nazwa produktu</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Description">Opis produktu</label>
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Price">Cena</label>
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Stock">Dostępność</label>
        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Stock, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="CategoryId">Kategoria</label>
        @Html.TextBoxFor(m => m.CategoryId, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Dodaj produkt</button>
    </div>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }
}

